[Desktop Entry]
Name=FastTrackUltra Control Panel
Comment=Control Panel for FastTrackUltra USB audio devices
Exec=qfasttrackultractl
Icon=qfasttrackultractl
Categories=AudioVideo;Audio
Terminal=false
Type=Application

