[Desktop Entry]
Name=FastTrack Pro Control Panel
Comment=Control Panel for FastTrack Pro USB audio devices
Exec=qfasttrackproctl
Icon=qfasttrackproctl
Categories=AudioVideo;Audio
Terminal=false
Type=Application

